* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: red;
    cursor: pointer;
}
/*对话框*/
#showdielogue {
    z-index: 1001;
    display: none;
    position: fixed;
    width: 300px;
    height: 150px;
    /*border-radius: 10px;*/
    background-color: #E0F8FB;
    top: 200px;
    overflow: hidden;
    border: 2px solid #07A1B1;
}
#showdielogue > span{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #50D1DE;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
}
#showdielogue >div:nth-child(2){
    height: 60px;
}
#showdielogue >div:nth-child(3) >div{
    float: left;
    margin-left: 50px;
}
/*吐司*/
#toast {
    z-index: 1001;
    display: none;
    position: absolute;
    width: 200px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    /*border-radius: 10px;*/
    top: 40px;
}
/*吐司错误*/
.toasterr {
    background-color: #FFCCCC;
    border: 3px solid #FF0033;
}
/*吐司成功*/
.toastsuc {
    background-color: #E0F8FB;
    border: 3px solid #50D1DE;
}
/*固定窗口总样式*/
.showwin {
    margin: 10px;
    float: left;
}
/*!*文本域*!*/
/*.texts{*/
    /*margin-bottom: 20px;*/
/*}*/
/*.texts > textarea {*/
    /*height: 40px;*/
    /*resize: none;*/
    /*float: left;*/
/*}*/

/*.texts > div {*/
    /*display: block;*/
    /*float: left;*/
    /*width: 100px;*/
/*}*/


/*主窗口*/
div.win {
    background-color: #FFFFFF;
    /*border-radius: 15px;*/
    border: 2px solid #80E5F0;
    overflow: hidden;
}
/*主窗口标题*/
h1.win_head{
    width: 100%;
    height: 40px;
    display: block;
    background-color: #50D1DE;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 20px;
}

/*文本框样式*/
.forms {
    width: 150px;
    height: 20px;
    border: 2px solid #50D1DE;
}

/*主窗口的固定行样式*/
div.win_row {
    height: 50px;
    overflow: hidden;
}
/*主窗口的自动增长行样式*/
div.win_row_auto {
    overflow: hidden;
    margin-bottom: 20px;
}
/*主窗口的固定行里input样式*/
div.win_row_input{
    margin-left: 5px;
    float: left;
}
/*主窗口的自动增长行里的con样式*/
div.win_row_con{
    border: 1px solid #50D1DE;
    margin-left: 5px;
    padding: 3px;
    float: left;
}
/*主窗口里行里的lable */
label.win_row_head {
    width: 120px;
    text-align: right;
    float: left;
    color: #07A1B1;
    font-size: 18px;
    font-weight: 500;
    display: block;
}

.validate {
    width: 60px;
    margin-right: 5px;
}
/*配合inCheck.js 验证成功样式*/
.checksu {
    display: block;
    clear: left;
    font: 12px "微软雅黑";
    color: #00ff00;
    margin-left: 150px;
}
/*配合inCheck.js 验证失败样式*/
.checker {
    display: block;
    clear: left;
    font: 12px "微软雅黑";
    color: #FF0000;
    margin-left: 150px;
}


/*弹出窗口的父容器*/
div.backhead {
    position: fixed;
    top: 0;
    display: none;
    z-index: 1000;
}
/*弹出窗口的背景窗口*/
div.backop {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000000;
    -moz-opacity: 0.3;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
/*弹出窗口*/
div.showcon {
    position: absolute;
    top: 0;
    left: 0;
}

/*弹出窗口的关闭按钮*/
div.showclose {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
}
/*弹出窗口的关闭按钮*/
div.showclose:hover {
    background-color: #E0F8FB;
    cursor: pointer;
}
/*自动伸长行样式*/
div.autoRow > div {
    width: 210px;
    position: relative;
    overflow: hidden;
    border: 1px solid #50D1DE;
    padding-bottom: 2px;
    margin: 5px;
}
div.autoRow >div >label{
    display: block;
    height: 20px;
    width: 100px;
    float: left;
    margin: 3px;
    border: 2px solid #50D1DE;
}


div.wins > ul>li:first-child{
    margin-top: -2px;
}
    /*列表样式*/
li.showlistle {
    height: 32px;
    display: block;
    position: relative;
    margin: 2px 0;
}
/*列表数据*/
li.showListCons:hover {
    background-color: #80E5F0;
    cursor: pointer;
}
/*列表删除*/
li.showlistle >span.delete,li.showlistle >div.delete {
    width: 28px;
    height: 28px;
    color : red;
    float: left;
    display: block;
    text-align: center;
    line-height: 28px;
    font-size: 25px;
    font-weight: bold;
}
/*列表行内*/
li.showlistle > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
    height: 28px;
    border: 1px solid #80E5F0;
    margin: 1px;
    line-height: 28px;
    font-size: 18px;
}

/*按钮*/
.button {
    /*border-radius: 10px;*/
    width: 75px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #50D1DE;
    line-height: 40px;
}
/*按钮*/
.button:hover {
    cursor: pointer;
    background-color: #07A1B1;
}

.cancel {
    float: left;
    margin-left: 100px;
}

.submit {
    float: right;
    margin-right: 100px;
}
/*列表分页上下页*/
li.showlistle >div.pages{
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
/*列表分页冻结状态*/
li.showlistle >div.pagesoff{
    float: left;
    height: 30px;
    width: 75px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    background-color:#AAAAAA ;
    /*border-radius: 10px;*/
}
/*列表分页数字*/
li.showlistle >div.pageSum{
    font-weight: 100;
    width: 12px;
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    margin: 8px 2px;
    /*border-radius: 2px;*/
}
/*列表分页选中状态*/
li.showlistle >div.pageis{
    font-weight:bold;
}
/*列表分页显示每页多少行*/
li.showlistle >div.pageRow{
    float: left;
    height: 20px;
    width: 70px;
    font-size: 9px;
}
/*列表分页显示每页多少行标签*/
li.showlistle >div.pageRow>div{
    width: 100%;
    float: left;
}
/*列表分页显示每页多少行按钮*/
li.showlistle >div.pageRow>span{
    float: left;
    width: 10px;
    display: block;
    margin: 0px 3px;
}
li.showlistle >div.pageRow>span:hover{
    cursor: pointer;
    background-color: #07A1B1;
}
/*搜索行*/
li.showlistle >div.search{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    width: 60px;
    float: left;
}
/*搜索文本*/
li.showlistle >div.searchtext{
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}
#searchDelete:hover{
    cursor: pointer;
    background-color: #07A1B1;
}
div.searchtext > input[type='text'] {
    width: 100px;
}


div#adminHeadImg{
    float: left;
}
div#imgUp {
    float: left;
    width: 80px;
    height: 30px;
    margin: 20px 10px ;
    line-height: 30px;
    font-size: 15px;
}
.uploadImg{
    float: left;
}
.bars{
    position: relative;
    clear: both;
    margin: 0 5px;
    width: 90px;
    height: 3px;
}
#bar{
    width: 0;
    height: 100%;
    background-color: #07A1B1;
}