//主色调
@one_color: #4cb1ca;
@one_deep: #39A0B9;
@one_tint:#96e8fc;
//次色调
@two_color:#72a41b;

@gray_one:#f7f7f7;

@gray_three:#D6D6D6;

@gray_two:#666;


.transition(@s1,@s2,@s3){
  -webkit-transition: @s1 @s2 @s3;
  -moz-transition: @s1 @s2 @s3;
  -ms-transition: @s1 @s2 @s3;
  -o-transition: @s1 @s2 @s3;
};